:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}
/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo:ital,wght@0,100..900;1,100..900&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo:ital,wght@0,100..900;1,100..900&family=Monoton&family=Tilt+Neon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo:ital,wght@0,100..900;1,100..900&family=Monoton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Neon&display=swap');

body {
  font-family: "Exo", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c5c5c5;
  
  background-image: url('components/assets/imgheader2.png');
  color: #4e3c4b;
}
.headerContent{ 
  display: flex; justify-content: center; 
  
}
header {
  background-color: #615e5e4d;
  position: fixed;
  padding: 20px;
  width: 80%;
  border-radius: 50px;
  top: 20px;z-index: 100000000000000000;
  backdrop-filter: blur(10px);
}
nav {
  display: flex; justify-content: space-between;
}

nav .navlinks {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav .navlinks a, .logo {
  color: #962fa1;
  color: #fac5f3;
  color: #fce6f9;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}.logo {
  color: #f16fff;font-family: Audiowide; text-shadow: 0 5px 3px #9b967c;
  color: #e5d787;}
.back{
  background-image: url('components/assets/imgheader2.png');
  background-size: 15%;
  height: 45vh;
  background-position: 100000000000000px;
  border-image: fill 0 linear-gradient(rgba(63, 63, 63, 0.226), rgba(255, 255, 255, 0.103));
  
  /* background-image: url('components/assets/LogoFestival.jpg'); */
  /* background-image: url('components/assets/DesingLogoFestival.jpg'); */
}

.heroSection {
  text-align: center;
  padding: 100px 20px;
  margin-top: 50px;
  /* background-image: url('components/assets/ImgCandidates/Img-Candidate\ \(1\).jpg'); */
  /* background-image: url('components/assets/LogoFestival.jpg'); */
  /* background-image: url('components/assets/DesingLogoFestival.jpg'); */
  /* background-position: ; */
  /* border-image: fill 0 linear-gradient(rgba(66, 66, 66, 0.281) , rgba(1, 7, 39, 0.493),  rgba(39, 36, 12, 0.274)); */
  /* background-color: #a7f0e6; */
  background-size: cover;
  /* background-position: 10% 10px; */ 
}
.heroSection h1 {font-family:"Audiowide", sans-serif; }.heroSection h1 {font-family:"Monoton", sans-serif; }.heroSection h1 {font-family:"Tilt Neon", sans-serif; }.heroSection h1 {font-family:"Poppins", sans-serif; }.heroSection h1 {font-family:"Audiowide", sans-serif; }

.template {
  text-align: center;
  padding: 80px 20px;
  /* background-image: url('components/assets/ImgCandidates/Img-Candidate\ \(1\).jpg'); */
  /* background-image: url('components/assets/LogoFestival.jpg'); */
  /* background-image: url('components/assets/DesingLogoFestival.jpg'); */
  /* background-position: ; */
  /* border-image: fill 0 linear-gradient(rgba(66, 66, 66, 0.281) , rgba(1, 7, 39, 0.493),  rgba(39, 36, 12, 0.274)); */
  /* background-color: #a7f0e6; */
  background-size: cover;
  /* background-position: 10% 10px; */
  background-color: #111;
  color: #e41212;color: #be4a4a;color: #e5d787;
}
.template p{color: #ce76ac;color: #eeeeee;}


.template h1 {font-family:"Audiowide", sans-serif; 
  font-family:"Monoton", sans-serif; 
  /* font-family:"Tilt Neon", sans-serif;  */
  font-family:"Poppins", sans-serif; 
  /* font-family:"Audiowide", sans-serif; */
}

.template2{
  background-color: #C0C0C0;
  background-color: #e5d787;
  display: flex; flex-direction: column; align-items: center;
  padding: 50px 10px 30px;

}
.template2Sous{
  width: 300px;
  border: #44072d 3px inset;
  border: #eeee 3px inset;
  /* border: #44072d 2px dotted; */
}
.logofestival{
  width: 100%;
  border-radius: 10px;
  transform: rotate(-8deg);
}
.template2 h2 {font-family:"Audiowide", sans-serif; color: #111;}


.candidatesSection {
  position: relative;
  padding: 50px 20px;
  background-color: #eeeeee;
  background-color: #111;
  color: #7e7575;
}.candidatesSection h2 {color: #e5d787;}

.candidatesSection .listCandidates{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.annoce{
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translate(-50%,50%);
  background-color: #C0C0C0;
  background-color: #111;
  color: #4b194d;
  color: #eeee;
  text-anchor: middle;
  text-shadow: 1px 1px 10px #290a26;
  width: 300px;
  text-align: center;
  padding: 10px;
  border-radius: 22px;
}
.candidate-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.candidate-card {
  position: relative;
  background-color: #f57defe8; color: #27042b;
  background-color: #e5d787; color: #111;
  /* background-image: url('components/assets/imgheader.png'); */
  /* border-image: fill 0 linear-gradient( rgb(202, 0, 169), rgb(105, 3, 63)); */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  /* padding-bottom: 20px; */
  margin: 10px;
  width: 280px;
  text-align: center;
}

.candidate-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
  .imgCard{
    width: 100%;
  }
}
.candidate-card .cardinal {
  color: #4e0739; font-size: 16px;
  color: #eee; font-size: 16px;
}
.candidate-card .divPlace {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}
.candidate-card .placeImg {
  width: 25px;
  height: 25px;
  object-fit: cover;
}
/* .placeImg:nth-child(2){
  background-color: yellow;
  text-shadow: 0 10px 10px  yellow;
  object-fit: fill;
  color: yellow;
} */
.candidate-card .buttonOption{
  width: 50%;
  border-radius: 100px;
  padding: 7px;
  margin: 20px 2px 10px 2px ;
  background-color: #edc4f1;
  background-color: transparent;
  color: rgb(234, 0, 255);
  color: #eee;
  font-family: monoton ;
  border: 1px #111 solid;
  cursor: pointer;
  font-family: monoton;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.cardVote{
  position: absolute;
  display: none;
  background-color: #44072d;
  background-color: #74307c;
  background-color: #111;
  width: 100%;
  height: 200px;
  padding: 10px 0 10px 0;
  bottom: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 20px;
  transition: 2s;

    .voteButton {
  cursor: pointer;
  background-color: rgb(92, 21, 74);
  color: white;
  width: 50%;
  padding: 7px;
  margin: 5px;
  font-family: var(--font-mono);
  font-family: Tilt Neon;
  font-size: 14px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  border: 1px ridge rgb(255, 251, 0);
  border: none;
  border-radius: 20px;
  animation: paddinging 1.2s;
}
}  .voteButton:nth-child(1) {
  background-color: #E5E4E2;
  color: rgb(65, 65, 65);
}.voteButton:nth-child(2) {
  background-color: #C0C0C0;
}.voteButton:nth-child(3) {
  background-color: #ffd700;
}

@keyframes paddinging {
  0% {bottom: -200px;padding: 0;}
  100% {bottom: 0;padding: 7px;}
}


.button:hover  .cardVote   {
  display: block;
  transition: 2s;
  animation: smoothing s;
}
.show{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  transition: 2s;
  animation: smoothing .6s;}

@keyframes smoothing {
  0% {bottom: -200px;}
  100% {bottom: 0;}
}




.aboutSection, .contactSection {
  padding: 50px 20px;
  background-color: #1b1922;
  background-color: #111;
  color: #ffffff;
  color: #eee;
  text-align: center;display: flex; flex-direction: column; justify-content: center; align-items: center;
}.aboutSection h2, .contactSection h2{
  color: #e5d787;
}
.contactSection .input { display: flex; flex-wrap: wrap;
  gap :10px; width: 300px; margin-bottom: 20px;}
.contactSection input  {
  background-color: #d1d1d1;
  width: 100%;
  height: 25px;
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  display: none;
}.contactSection textarea  {
  background-color: #d1d1d1;
  width: 250px;
  height: 100px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  display: none;

}.contactSection button  {
  width: 70%;
  font-size: 18px;
  padding: 8px;
  border: 1px solid red;
  border: 1px solid #e5d787;
  border-radius: 50px;
  background-color: #1b1922;
  background-color: #111;
  color: #eeeeee;
  
}
.contactSection  a {
  text-decoration: none;
color: rgb(121, 121, 121);}
.contactSection  .placeImg {
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.contactSection{
  display: flex; gap:20px ;
}
.contactSection .linksReseau{
  display: flex; gap:20px ;
}
.linksReseauImg{
  width: 40px;
  height: 40px;
  object-fit: cover;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #111;
  color: #d8d8d8;
  color: #e5d787;
}

/* Mobile */
@media only screen and (max-width: 700px) {
  .back{
    background-image: url('components/assets/imgheader2.png');
    background-image: url('components/assets/imgheader2.png');
    background-size: cover;
    background-size: 350%;
    height: 60vh;
    background-position: 150% 50px;
    animation: lefting 10s linear infinite;
    }
    @keyframes lefting {
      0% {background-position: -1% 0px;}
      40% {background-position: 40% 0px;}
      60% {background-position: 100% 0px;}
      80% {background-position: 40% 0px;}
      100% {background-position: 0% 0px;}
      
    }

  header{
    width: auto;
  }
  nav .navlinks{
    display: none;
  }
  nav .navlinks {
    list-style: none;
    /* display: flex; */
  }
  nav a {
    color: #eee;
    text-decoration: none;
    font-size: 1px;
  }

  .candidatesSection .listCandidates{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
  }

  
.candidate-card {
  width: 330px;
}
  }